/* Navigation */
.navbar {
    background-color: #f8fafc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    height: 7rem
  }
  
  /* Desktop Navigation */
  .desktop-nav {
    display: none;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
    margin-left: 2.5rem;
  }
  
  .nav-link {
    color: #2e5285;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
    padding: 0.5rem 1rem;
  }
  
  
  .nav-link:hover {
    color: #4f46e5;
  }
  
  /* Mobile Navigation */
  .mobile-menu-button button {
    color: #4b5563;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .mobile-menu-button button:hover {
    color: #4f46e5;
  }
  
  .mobile-nav-links {
    padding: 0.5rem 0;
  }
  
  .mobile-nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: #4b5563;
    text-decoration: none;
    font-weight: 500;
    border-radius: 0.375rem;
    transition: all 0.2s ease;
  }
  
  .mobile-nav-link.active {
    color: #4f46e5;
    background-color: #eef2ff;
  }
  
  .mobile-nav-link:hover {
    color: #4f46e5;
    background-color: #eef2ff;
  }